.btn-primary {
    background-color: #009ba2;
    color: #fff;
    border-color: #009ba2;
}

.btn-primary:hover, .uk-button-primary:focus {
    background-color: #0bb0b7;
    border-color: #0bb0b7;
    color: #fff;
}


.navbar-default {
    background-color: #009ba2;
    border-color: #009ba2;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.2em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: rgb(232, 232, 232);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #009ba2;
}

@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}

.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: rgb(130, 130, 130);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

}
.well {
    min-height: 20px;
   /* padding: 19px;*/
   	text-align: center;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #009ba2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    /* color: #009ba2; */
}

.panel-success {
    border-color: #009ba2;
    color: #009ba2;
    background: rgb(0, 155, 162);
    color: white;
}

.panel-danger {
    border-color: #bd001f;
    background: #bd001f;
    color: white;
}

.panel-warning {
    border-color: #6d6d6d;
    background: #6d6d6d;
    color: white;
}

.panel-precio {
    border-color: #de0000;
    background: #de0000;
    color: white;
    margin: 0px;
}

.panel-pago {
    border-color: #41c541;
    background: #41c541;
    color: white;
    margin-top: 9px;
}

.panel {
   /* margin-top: 5px; */
}

.hr_success{
    border-top: 2px solid #009ba2;
}

a {
    color: #009ba2;
    text-decoration: none;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 4px;
    font-weight: bold;
    font-size: 12px;
    vertical-align: text-bottom;
}

table{
    font-size: 14px;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 30px;
    background: #ededed;
}

.table-condenced > td{
    padding: 2px;
}

.text-big
{
    font-weight: bold;
    font-size: 1.3em;
}
/* login css */
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/* end login css */




.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}


table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 30px;
    background: #ededed;
    font-size: 14px;
    font-weight: inherit;
}
table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    font-size: 14px;
    border-collapse: collapse !important;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: rgb(240, 173, 78);
    border-color: rgb(240, 173, 78);
}

td.details-control {
    background: url('../DataTables/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../DataTables/examples/resources/details_close.png') no-repeat center center;
}

.vcenter {

    vertical-align: middle;

}

/*
*
*   seccion de login
*
*/

.login-box, .register-box {
    width: 50%;
    margin: 2% auto;
}

.login-logo, .register-logo {
    margin: 0 auto;
    text-align: center;   
}

@media (max-width:768px){
.login-box,.register-box{
    width:90%;
    margin-top:20px
    }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #009ba2;
    border: 1px solid #009ba2;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #009ba2;
}

.nav-pills > li > a {
    text-decoration: none;
    background-color: #ededed;
    border: 1px solid #009ba2;
}

.modal-body{
    height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal_chico .modal-body {
height: auto;
}

.modal_grande .modal-body {
height: auto;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 1024px;
  }
}
/*
@media (min-height: 500px) {
    .modal-body { height: 50%; }
}

@media (min-height: 800px) {
    .modal-body { height: 50%; }
}
*/


.form-group {
    /* margin-bottom: 0px; */
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 13px;
  padding-right: 15px;
}

.blue{
    border: 2px solid #009ba2;
}

.orange{
    background-color: orange;
}

.green{
    background-color: green;
}

.red{
    background: rgb(255, 29, 29);
}

.white{
    background: white;
}

.orange-light{
    font-weight: bold;
    color: red;
}
.blue-text{
    font-weight: bold;
    color: blue;
}

/* CSS used here will be applied after bootstrap.css */



.border-right {
  border-right:1px solid #eee;
}
.dashboard-block, .dashboard-block:hover, .dashboard-block:active, .dashboard-block:focus {
  color: #ffffff;
  text-decoration: none;
  /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); */
  outline: none;
}
.dashboard-block {
 position: relative;
 display: block;
 padding: 30px 20px;
 background-color: #104c4c;
 opacity:0.9;
 overflow: hidden;
 margin-bottom:5px;
 height: 150px;
 color: white;
}
.dashboard-block .rotate {
 z-index: 8;
 float: right;
 height: 100%;
}
.dashboard-block .rotate i {
 position: absolute;
 left: 0;
 left: auto;
 right: 0;
 bottom: 0;
 display: block;
 height: 65px;
 font-size: 75px;
 -webkit-transform: rotate(-40deg);
 -moz-transform: rotate(-40deg);
 -o-transform: rotate(-40deg);
 -ms-transform: rotate(-40deg);
 transform: rotate(-40deg);
 /* text-shadow:1px 0 #ddd; */
}
.dashboard-block i,.dashboard-block:hover i,.dashboard-block:active i,.dashboard-block:focus i {
 color: #436b6b;
}
.dashboard-block .more {
 position: absolute;
 top: 10px;
 right: 10px;
 font-size: 16px;
 color: rgba(232, 232, 232, 0.84) !important;
 text-shadow: none;
}
.dashboard-block .details {
 position: relative;
 z-index: 10;
 float: left;
 margin-top: -10px;
 text-align: left;
}
.dashboard-block .title {
 display: block;
 margin-bottom: 1em;
 font-size: 13px;
 text-transform: uppercase;
}
.dashboard-block .sub {
 display: block;
 font-size: 32px;
}


/* Unstrap theme for Bootstrap 3.1
   author:Bootply
   license:GPL
*/

